<h5>
	Other pages: 
	<a href="{% url 'u-profile' username %}">profile</a>
	<a href="{% url 'app-chat' %}">chat</a>
	<a href="{% url 'logout' %}">Logout</a>
</h5>

<h2>History of {{username}}</h2>
<h4>
{% if limit == -1 %}
Output not limited.
{% elif limit == 1 %}
Output limited to {{limit}} entry.
{% else %}
Output limited to {{limit}} entries.
{% endif %}

</h4>
   <div id="history">
   	{% for message in messages %}
   	{{message.origin}} >>>  {{message.content}} <br>
   	-------- {{message.created_at}} -------- <br>
   	{% empty %}
   	No messages yet <br>
   	{% endfor %}
   </div>
</form>
